body {
	background-image: url("lemonade2.jpg");

}
th {
	background-color: #85b7EA;
	color: white;
}
table {
	border: 1px black groove;
	width: 500px;
	
}
th, td {
	border-bottom: 1px solid black;
}
#buttondiv {
	margin-top: 100px;
	
}
button {
	width: 500px;
	height: 75px;
	border-radius: 8px;
	background-color: #0077c8;
	color: white;
	font-size: 24px;
}